<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="https://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Sleep</servlet-name>
		<servlet-class>com.example.Sleep</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InfiniteLoop</servlet-name>
		<servlet-class>com.example.InfiniteLoop</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IBMJavaDump</servlet-name>
		<servlet-class>com.example.IBMJavaDump</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IBMHeapDump</servlet-name>
		<servlet-class>com.example.IBMHeapDump</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IBMSystemDump</servlet-name>
		<servlet-class>com.example.IBMSystemDump</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllocateObject</servlet-name>
		<servlet-class>com.example.AllocateObject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Hang</servlet-name>
		<servlet-class>com.example.Hang</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SmallRoots</servlet-name>
		<servlet-class>com.example.SmallRoots</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GarbageCollect</servlet-name>
		<servlet-class>com.example.GarbageCollect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deadlocker</servlet-name>
		<servlet-class>com.example.Deadlocker</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.example.Test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoComplicatedStuff</servlet-name>
		<servlet-class>com.example.DoComplicatedStuff</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PrintInformation</servlet-name>
		<servlet-class>com.example.PrintInformation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoopWithIntervals</servlet-name>
		<servlet-class>com.example.LoopWithIntervals</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlJVMTrace</servlet-name>
		<servlet-class>com.example.ControlJVMTrace</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Simple</servlet-name>
		<servlet-class>com.example.Simple</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SystemExit</servlet-name>
		<servlet-class>com.example.SystemExit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SystemTime</servlet-name>
		<servlet-class>com.example.SystemTime</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RunFinalization</servlet-name>
		<servlet-class>com.example.RunFinalization</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Other</servlet-name>
		<servlet-class>com.example.Other</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Sessions</servlet-name>
		<servlet-class>com.example.Sessions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SetProperty</servlet-name>
		<servlet-class>com.example.SetProperty</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NativeLibraries</servlet-name>
		<servlet-class>com.example.NativeLibraries</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Exceptions</servlet-name>
		<servlet-class>com.example.Exceptions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>com.example.PostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostServletWrapper</servlet-name>
		<servlet-class>com.example.PostServletWrapper</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostServletSleep</servlet-name>
		<servlet-class>com.example.PostServletSleep</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllocateNativeMemory</servlet-name>
		<servlet-class>com.example.AllocateNativeMemory</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClassloaderLeak</servlet-name>
		<servlet-class>com.example.ClassloaderLeak</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LargeResponse</servlet-name>
		<servlet-class>com.example.LargeResponse</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PutMDBMessage</servlet-name>
		<servlet-class>com.example.PutMDBMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThrowNPE</servlet-name>
		<servlet-class>com.example.ThrowNPE</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageDynacache</servlet-name>
		<servlet-class>com.example.ManageDynacache</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Sleep</servlet-name>
		<url-pattern>/Sleep</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfiniteLoop</servlet-name>
		<url-pattern>/InfiniteLoop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IBMJavaDump</servlet-name>
		<url-pattern>/IBMJavaDump</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IBMHeapDump</servlet-name>
		<url-pattern>/IBMHeapDump</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IBMSystemDump</servlet-name>
		<url-pattern>/IBMSystemDump</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllocateObject</servlet-name>
		<url-pattern>/AllocateObject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hang</servlet-name>
		<url-pattern>/Hang</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SmallRoots</servlet-name>
		<url-pattern>/SmallRoots</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GarbageCollect</servlet-name>
		<url-pattern>/GarbageCollect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deadlocker</servlet-name>
		<url-pattern>/Deadlocker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoComplicatedStuff</servlet-name>
		<url-pattern>/DoComplicatedStuff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintInformation</servlet-name>
		<url-pattern>/PrintInformation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoopWithIntervals</servlet-name>
		<url-pattern>/LoopWithIntervals</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlJVMTrace</servlet-name>
		<url-pattern>/ControlJVMTrace</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Simple</servlet-name>
		<url-pattern>/Simple</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SystemExit</servlet-name>
		<url-pattern>/SystemExit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SystemTime</servlet-name>
		<url-pattern>/SystemTime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RunFinalization</servlet-name>
		<url-pattern>/RunFinalization</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Other</servlet-name>
		<url-pattern>/Other</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sessions</servlet-name>
		<url-pattern>/Sessions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetProperty</servlet-name>
		<url-pattern>/SetProperty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NativeLibraries</servlet-name>
		<url-pattern>/NativeLibraries</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Exceptions</servlet-name>
		<url-pattern>/Exceptions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/PostServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServletWrapper</servlet-name>
		<url-pattern>/PostServletWrapper</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServletSleep</servlet-name>
		<url-pattern>/PostServletSleep</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllocateNativeMemory</servlet-name>
		<url-pattern>/AllocateNativeMemory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassloaderLeak</servlet-name>
		<url-pattern>/ClassloaderLeak</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LargeResponse</servlet-name>
		<url-pattern>/LargeResponse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PutMDBMessage</servlet-name>
		<url-pattern>/PutMDBMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThrowNPE</servlet-name>
		<url-pattern>/ThrowNPE</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageDynacache</servlet-name>
		<url-pattern>/ManageDynacache</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
